<h2> Previsão para Osasco ou SP </h2>
<div class="row">
       <div class="col-sm-3">
           <div class="card border-info mb-3" style="max-width: 18rem;">
               <div class="card-header bg-transparent border-info" id="date-1">
                 DATE
               </div>
                   <div class="card-body ">
                      <p class="card-text" id="text-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   </div>
               <div class="card-footer bg-info  border-info description">
                <ul>
                     <li> <img src="assets/img/icons/download.png"> <p id="min-1"> lo </p> </li>
                     <li> <img src="assets/img/icons/upload.png"> <p id="max-1"> Hi </p> </li>
                     <li> <img src="assets/img/icons/protection-symbol-of-opened-umbrella-silhouette-under-raindrops.png" >
                          <p id="probability-1"> rain </p>
                      </li>
                      <li> <img src="assets/img/icons/raindrop-close-up.png" > <p id="precipitation-1"> mm </p> </li>
                 </ul>
               </div>
           </div>
       </div>
</div>
